<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @zombie.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @zombie.idade %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= @zombie.nascimento %>
</p>

<p>
  <strong>Admissao:</strong>
  <%= @zombie.admissao %>
</p>

<p>
  <strong>Apodrecendo:</strong>
  <%= @zombie.apodrecendo %>
</p>

<p>
  <strong>Salario:</strong>
  <%= @zombie.salario %>
</p>

<p>
  <strong>Heranca:</strong>
  <%= @zombie.heranca %>
</p>

<p>
  <strong>Email:</strong>
  <%= @zombie.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @zombie.bio %>
</p>

<%= link_to 'Edit', edit_zombie_path(@zombie) %> |
<%= link_to 'Back', zombies_path %>
